services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '${PORT}:${PORT}'
    environment:
      - 'PORT=${PORT}'
      - 'ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Production}'
      - 'ConnectionStrings__DefaultConnection=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}'
    volumes:
      - './src:/app/src'
    networks:
      - coolify

networks:
  coolify:
    external: true

