[phases.setup]
nixPkgs = ["dotnet-sdk_7"]

[phases.install]
cmds = ["dotnet restore"]

[phases.build]
cmds = ["dotnet publish -c Release -o ./ --no-restore"]

[start]
cmd = "dotnet ./programacion-proyecto-backend.dll"

[variables]
ASPNETCORE_URLS = "http://+:$PORT"

