[phases.setup]
nixPkgs = ["dotnet-sdk_7"]

[phases.build]
# Forzamos la salida a una carpeta llamada 'publish'
cmds = ["dotnet publish -c Release -o publish"]

[start]
# Apuntamos a la carpeta que definimos arriba
# Quitamos el '/' inicial de la ruta para que sea relativo al directorio de trabajo
cmd = "dotnet publish/programacion-proyecto-backend.dll"