[phases.setup]
nixPkgs = ["dotnet-sdk_7"]

[phases.build]
# Compilamos directamente en el directorio actual (.)
# Esto pondrá la DLL y sus dependencias en la raíz /app
cmds = ["dotnet publish -c Release -o ."]

[start]
# Ahora ejecutamos la DLL directamente desde la raíz
# Forzamos la escucha en 0.0.0.0 para que sea accesible
cmd = "dotnet programacion-proyecto-backend.dll --urls http://0.0.0.0:5148"